.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;

}

input {
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: aliceblue;
}